<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>localstorage</title>
    <link href="../../style.css" />
  </head>
  <body>
    <h1>LocalStorage</h1>
    <div class="form-group">
      <p id="namepara"></p>
      <input type="text" placeholder="enter your name" id="name" />
      <button id="buttonsubmit">Submit</button>
    </div>
    <script src="./../localstorage.js"></script>
  </body>
</html>
