@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.count_main {
    display: flex;
    align-items: center;
    padding: 75px 0;
    gap: 25px;
    width: 600px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.count_main .column {
    text-align: center;
}

.count_main .column i {
    font-size: 28px;
    color: black;
    margin-bottom: 0.5rem;
    text-align: center;
}

